name: Test Pipeline

on:
  schedule:
    - cron: "30 23 * * *"   # Runs daily at 23:30 UTC
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: '11'

      - name: Running Test Automation Framework with Maven
        run: mvn test -X -Dbrowser=chrome -DlambdaTest=true -Dheadless=false

      - name: Upload Test Archive logs
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: logs
          path: logs/

      - name: Upload Archive Extent Report
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: extent-report
          path: report.html

      - name: Notify completion
        run: echo "Tests completed."
